html, body {
  height: 100%;
}

* {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: 'Open Sans', Helvetica, sans-serif;
  color: white;
  font-size: 14px;
  background: #001821;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  width: 100%;
}

ul,
ol {
  margin: 0;
  padding: 0;
}

ul li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

section {
  width: 100%;
}

.conteiner {
  max-width: 1141px;
  margin-left: auto;
  margin-right: auto;
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.wrapper__content {
    display: flex;
    flex-direction: column;
    flex: 1;
  }


