.wrapper__main {
  background-image: url("../../img/background/hero.png"), url("../../img/background/bottom-pic.png");
  background-position: top center, 49% 93%;
  background-repeat: no-repeat;
}

section.services-topline, .reviews-topline {
  background-image: url('../../img/background/headline.png');
  height: 100%;
  align-items: flex-start;
  background-position: 50% 0%;
}

.welcom {
  background-image: url('../../img/background/screen.png');
  background-repeat: no-repeat;
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
}
