
.breadcrumbs__list {
  display: flex;
  align-items: center;
  justify-content: start;
  color: #9A9A9A;
  line-height: 4.5;
  text-decoration: underline;
}

.breadcrumbs__item {
  margin-right: 0.1em;
}

.breadcrumbs__item:last-child {
  margin-right: 0;
}

.breadcrumbs__link:after {
  content: "/";
}

.breadcrumbs__item--active {
  font-weight: 700;
  content: 'none';
}

.breadcrumbs__item--active > .breadcrumbs__link:after {
  content: none;
  
}


