
.breadcrumbs__list {
  display: flex;
  align-items: center;
  justify-content: start;
  color: #9A9A9A;
  line-height: 1.36;
  padding: 24px 0;
  text-decoration: underline;
}

.breadcrumbs__item {
  margin-right: 0.1em;
}

.breadcrumbs__item:last-child {
  margin-right: 0;
}

.breadcrumbs__item:after {
  content: "/";
}

.breadcrumbs__item--active:after {
  font-weight: 700;
  content: none;
}
/* 
.breadcrumbs__item--active::after > .breadcrumbs__link:after {
  content: none;
  
} */


