.button {
  font-size: 14px;
  font-weight: 700;
  color: #fff;
  outline: none;
  padding: 18px 39px;
  background-color: #F5170E;
  border-color: #F5170E;
  border-style: solid;
  border-width: 1px;
  border-radius: 35px;
  text-transform: uppercase;
}


.button-white {
  color: #F5170E;
  font-weight: 700;
  outline: none;
  padding: 18px 39px;
  background-color: #fff;
  border-color: #F5170E;
  border-width: 1px;
  border-style: solid;
  border-radius: 35px;
  text-transform: uppercase;
}


.button:hover {
  color: #F5170E;
  background-color: #fff;
  border-color: #F5170E;
}

.button-white:hover {
  font-size: 14px;
  font-weight: 700;
  color: #fff;
  background-color: #F5170E;
  border-color: #F5170E;
}

.offer__button {
  padding: 17px 29px;
}

