.greeting-conteiner {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  min-height: 445px;
  padding-top: 109px;
}

.greeting__title {
  font-weight: 700;
  font-size: 72px;
  margin-bottom: 27px;
  max-width: 45%;
  line-height: 1.4;
}

.greeting__text {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  margin-bottom: 35px;
}

