
.social {
  margin: 10px 73px 0 auto;
 }
 
 .social__item {
   display: inline-block;
   vertical-align: middle;
   margin-right: 6px;
   transition: 0.4s;
  }
  
 .social__item:hover {
   filter: brightness(2.1);
 }

 .social__item:last-child {
   margin: 0;
 }