
.social {
  margin: 10px 73px 0 auto;
 }
 
 .social__item {
   position: relative;
   display: inline-block;
   vertical-align: middle;
   margin-right: 6px;
   transition: 0.4s;
   width: 36px;
   height: 36px;
   border-radius: 50%;
  }

  .social__link {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    transform: translate(-50%, -50%);
  }
  
  .social__link-telegram {
    background: url('../../img/icon/sprites.png') -10px -66px; 
  }
  
  .social__link-vcontacte {
    background: url('../../img/icon/sprites.png') -66px -66px; 
  }
  
  .social__link-facebook {
    background: url('../../img/icon/sprites.png') -10px -10px; 
  }
  
  .social__link-instagramm {
    background: url('../../img/icon/sprites.png') -66px -10px; 
  }

 .social__item:hover {
   filter: brightness(2.1);
 }

 .social__item:last-child {
   margin: 0;
 }